language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - pypy

install:
  - "python setup.py install"
  - "pip install -r dev-requirements.txt"

script: coverage run --source=werobot setup.py -q nosetests

after_success: coveralls

notifications:
  email: false
