version: "{branch}-{build}"
build: off
cache:
  - '%LOCALAPPDATA%\pip\Cache'
init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"
  - ps: "ls C:/Python*"
install:
  - C:\Python35\python -m pip install --force-reinstall tox
  - set PYTHONIOENCODING=utf-8
test_script:
  - C:\Python35\python -m tox -c tox-win.ini
on_success:
  - set PATH=C:\\Python35;C:\\Python35\\Scripts;%PATH%
  - pip install codecov coverage
  - codecov
on_failure:
  - ps: dir "env:"
  - ps: get-content .tox\*\log\*
notifications:
  - provider: Slack
    incoming_webhook:
      secure: OUWL/ky2abFxup5CTKyGrmQRdqAE/TU5To/6bxxvS6GRaV6/JdyKyfxZHwnB1HOIg805obLeC4ngnSNEUd87to9JLSerBUb5b3VjYieuJVY=
branches:
  except:
    # Used by bors
    - trying.tmp
    - staging.tmp
