-r requirements.txt
coverage==4.5.2
Sphinx==1.8.2
cryptography==2.4.2
pytest==4.0.0
WebTest==2.0.32
Flask
tornado
responses==0.10.2
multipart==0.1
pytest-mock==1.10.0
git+git://github.com/mongomock/mongomock.git@09a615cdbefb8e7962faa4f540ef4efae14253e7
mockredispy==2.9.3
